body {
  text-align: center;
}

ul {
  position: relative;
}

li {
  display: inline-block;
  /*float: right;*/
  /*position: relative;*/

}


.white{
  width: 100px;
  height: 350px;
  border: 1px solid black;
  display: inline-block;
}

.black {
  width: 50px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  /*margin:0 0 0 -20px;*/
  position: absolute;
  top: 0px;
  /*left: -20px:*/
  /*right: -33px*/
  /*margin: 20 50 0 -4%*/
}

.illuminated {
  background-color: gold;
}
