body {
  text-align: center;
  background-color: #DCEFEB;
  height: 100%;;
  width: 100%;
  background: #EEF5DB;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 95px;
  height: 90px;
  color: #4D8236;
  padding: 20px 135px 20px;
  -webkit-text-stroke: 3px #BED1B5;
}

h2  {
  font-size: 26px;
  width: 745px;
  margin: auto;
  color: #b5b5b5;
  font-family: 'Roboto', sans-serif;
}

ul {
  position: relative;
  margin-top: 55px;
}

li {
  display: inline-block;
  width: 800px;*/
  height: 450px;
  border: 10px solid #bbb;
}

.white{
  width: 100px;
  height: 350px;
  border: 1px solid #bbb;
  background: #f6f3e9;
  display: inline-block;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
}

.black {
  width: 50px;
  height: 200px;
  border: 1px solid black;
  background: #222;
  display: inline-block;
  position: absolute;
  top: 0px;
  border-radius:0 0 5px 5px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
}

button {
  display: inline-block;
  padding: 5px 20px;
  font-size: 46px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #FBD7DE;
  background-color: #D82247;
  border: none;
  border-radius: 8px;
  box-shadow: 0 9px #AD1B39;
  margin-top: 12px;
  font-family: 'Roboto', sans-serif;
}

button:active {
  background-color: #AD1B39;
  color: #F8AFBE;
  box-shadow: 0 8px #6C1124;
  transform: translateY(4px);
}

button:focus {outline:0 !important;}

div {
  border: 20px solid white;
  padding-bottom: 20px;
  background-color: rgba(131, 102, 147, 0.38);
  background-color: #99B0B3;
}

.illuminated {
  background-color: #fffc66;
}
